@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

body {
  background: linear-gradient(to bottom, #ffffff, #f9fafb, #f3f4f6);
  color: #1f2937; /* text-gray-800 */
  font-family: 'Inter', system-ui, sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* globals.css */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amaranth', sans-serif; /* kalau mau konsisten font global */
}

* {
  box-sizing: border-box;
}
